*{box-sizing: border-box;}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.points{
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    align-self: flex-start;
}

.category-tip{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.letter-game-container{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 50px;
    border: 10px solid rgb(0, 0, 0);
    box-shadow: 10px 10px  black;
}

.letter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.letter-game-card, .letter-game-card-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-weight: bold;
    background-color: white;
    height: 130px;
    width: 105px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    margin: 0 5px;
    text-transform: uppercase;
}

.input-letters-container, .input-letters-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-letters-container input, .input-letters-container button{
    width: 80px;
    margin: 10px 0px;
}

.input-letters-container input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 5px 5px black;
    border: 2px solid black;
    margin-top: 50px;
}

.input-letters-container button{
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-transform: uppercase;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 5px 5px black;
    border: 2px solid black;
}

.input-letters-container button:hover{
    background-color: white;
    color: black;
}

.wrong-letters {
   font-size: 1rem;
   font-weight: bold;
   margin: 0;
}

.attemps{
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0px;
}

.wrong-letters-container{
    text-transform: uppercase;
}